#social.row
  .span6.offset3
    %a.btn.btn-block.facebook{:href => "/users/auth/facebook"}
      %i.icon-facebook-sign
      &nbsp;&nbsp;&nbsp;&nbsp;Sign in with Facebook
    %a.btn.btn-block.linkedin{:href => "/users/auth/linkedin"}
      %i.icon-linkedin-sign
      &nbsp;&nbsp;&nbsp;&nbsp;Sign in with LinkedIn